.container_password{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.container_password input{
   width: 100%;
}

.container_password svg{
   position: absolute;
   right: 10px;
   font-size: 1.5em;
   color: black;
   cursor: pointer;
}