.form_control{
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.form_control label{
   font-weight: bold;
}

.form_control select{
   padding: 0.7em;
   border-radius: 0;
   border: none;
}