.home_container{
   height: 85vh;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   align-items: center;
   font-size: 1.3em;
}

.home_container .container_left{
   max-width: 500px;
   margin: 0 auto; 
}
.home_container .container_left p{
   margin: 20px 0;
}

.home_container .container_left button{
   padding: 20px;
   background-color: #FF7170;
   color: white;
   border-radius: 10px;
   border: none;
   font-size: 1.5em;
   cursor: pointer;
   transition: 0.3s;
}

.container_right img{
   width: 90%;
}
.container_right{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
}

@media (max-width: 1131px){
   .home_container .container_left,
   .home_container .container_right{
      max-width: 100vw;
   }
}