.header{
   display: flex;
   align-items: center;
   background-color: #EEEBEB;
   padding: 10px;
   height: 5vh;
}

.logo{
   font-size: 1.5em;
   text-decoration: none;
   color: #FF7170;
   font-weight: bold;
}

.btnMenu{
   cursor: pointer;
   font-size: 1.5em;
   display: none;
}

@media(max-width:700px){
   .btnMenu{
      display: block;
   }
}
